<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Please sign in the box</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="landscape-wrapper">
    
    <div class="signature-container">
      <canvas #signatureCanvas></canvas>
  <div class="sign-here-text">Sign here</div>
    </div>

    <div class="controls-container">
      <ion-button expand="full" color="success" (click)="acceptSignature()">
        Accept
      </ion-button>
      <ion-button expand="full" fill="outline" color="dark" (click)="changePenColor('black')">
        Black
      </ion-button>
      <ion-button expand="full" fill="outline" color="primary" (click)="changePenColor('blue')">
        Blue
      </ion-button>
      <ion-button expand="full" color="danger" (click)="clearSignature()">
        Clear
      </ion-button>
    </div>

  </div>
</ion-content>