<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid class="loading" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </ion-grid>
  <ion-grid class="ion-padding" fixed="true" *ngIf="!loading">
    <ion-row class="profile-box align-items-center mb-3">
      <ion-col size="auto" class="me-3">
        <div class="avatar" >
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="40" fill="#e9ecef"/>
            <circle cx="40" cy="25" r="14" fill="#6c757d"/>
            <path d="M18 75c0-13.2 10.7-23.9 23.9-23.9s23.9 10.7 23.9 23.9" fill="#6c757d"/>
          </svg>
        </div>
      </ion-col>
      <ion-col class="profile-info">
        <div class="name">
          {{userData.firstName + " " + userData.lastName | titlecase}}
        </div>
        <div class="email">
          {{userData.email}}
        </div>
        <div>
          <ion-button size="small" class="ms-0" (click)="openEditProfileModal()">
            Edit profile
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-list color="primary" class="radius" [inset]="false">
      <ion-item button color="light" detail="false" (click)="deleteAccountAlert()">
        <ion-text>Delete your account</ion-text>
      </ion-item>
      <ion-item button color="light" detail="false" (click)="logout()">
        Sign out
      </ion-item>
    </ion-list>

    <!-- App Version -->
    <div class="version-info">
      <ion-text class="version-text">
        Version {{appVersion}}
      </ion-text>
    </div>

  </ion-grid>
</ion-content>