<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My profile</ion-title>
    <!-- <ion-buttons>
      <ion-back-button defaultHref="/user/dashboard"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid class="loading" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </ion-grid>
  <ion-grid class="ion-padding" fixed="true" *ngIf="!loading">
    <ion-row class="profile-box align-items-center mb-3">
      <ion-col size="auto" class="me-3">
        <div class="avatar">
          <img src="/assets/no-profile-img-svg.webp" alt="">
        </div>
      </ion-col>
      <ion-col class="profile-info">
        <div class="name">
          {{userData.firstName + " " + userData.lastName | titlecase}}
        </div>
        <div class="email">
          rafael8721693&#64;gmail.com
        </div>
        <div>
          <ion-button size="small" class="ms-0" (click)="openEditProfileModal()">
            Edit profile
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-list color="primary" class="radius" [inset]="false">
      <ion-item button color="light" detail="false" (click)="deleteAccountAlert()">
        <ion-text>Delete your account</ion-text>
      </ion-item>
            <ion-item button color="light" detail="false" (click)="logout()">
        Sign out
      </ion-item>
    </ion-list>


  </ion-grid>
</ion-content>