.profile-box {
    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 3px solid var(--ion-color-medium);

        svg {
            background-color: #e9ecef;
            position: relative;
            bottom: -5px;
            width: 120%;
            height: 120%;
            object-fit: cover;
        }
    }

    .profile-info {
        .name {
            font-weight: bold;
            font-size: 1.2rem;
            color: var(--ion-color-dark-shade);
        }

        .email {
            font-weight: 400;
            color: var(--ion-color-dark);

        }
    }
}

.version-info {
    text-align: center;
    margin-top: 20px;
    padding: 10px;

    .version-text {
        font-size: 0.875rem;
        color: #999999;
        font-weight: 400;
    }
}