<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row class="align-items-center">
      <ion-col size="8" class="">
        <ion-title>Work Orders</ion-title>
      </ion-col>
      <ion-col size="4" class="py-0">
        <ion-searchbar [debounce]="300" (ionInput)="onSearchChange($event)" [animated]="true"
          mode="ios"></ion-searchbar>
      </ion-col>

    </ion-row>
  </ion-toolbar>
  <div class="bar-filters ">

    <ion-grid fixed>
      <ion-row class="filters-row">
        <!-- El searchbar ahora está en el header -->
        <!-- Filtros horizontales -->
        <ion-col size="2" class="d-flex align-items-center ">
          <ion-item class="radius mb-0 w-100" lines="none">
            <ion-select class="filter-select" label="Status" [(ngModel)]="filters.status" interface="popover"
              (ionChange)="onFilterChange()">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="pending">Pending</ion-select-option>
              <ion-select-option value="in-progress">In Progress</ion-select-option>
              <ion-select-option value="closed">Closed</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col size="2" class="d-flex align-items-center ">
          <ion-item class="radius mb-0 w-100" lines="none">

            <ion-select label="Type" [(ngModel)]="filters.type" interface="popover" (ionChange)="onFilterChange()">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="pickup">Pickup</ion-select-option>
              <ion-select-option value="work">Work</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col size="3" class="d-flex align-items-center ">
          <ion-item class="radius mb-0 w-100" lines="none">

            <ion-select label="Customer" class="small-option" [(ngModel)]="filters.customerId" interface="popover"
              (ionChange)="onFilterChange()">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option *ngFor="let customer of customers" [value]="customer.id">
                  [{{ customer.companyAddress.state }}] {{ customer.companyName }}, {{ customer.companyAddress.city }}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col size="3" class="d-flex align-items-center ">
          <ion-item class="radius mb-0 w-100" lines="none">
            <ion-select label="Created By" [(ngModel)]="filters.createdBy" interface="popover"
              (ionChange)="onFilterChange()">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option *ngFor="let user of users" [value]="user.id">
                {{ user.firstName }} {{ user.lastName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="auto" class="">
          <ion-button color="light" fill="solid" (click)="resetFilters()" class="m-0 p-0 radius" size="small"
            title="Reset filters">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-off">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 10a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M6 6v2" />
              <path d="M6 12v8" />
              <path d="M10 16a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M12 4v4m0 4v2" />
              <path d="M12 18v2" />
              <path d="M16 7a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M18 4v1" />
              <path d="M18 9v5m0 4v2" />
              <path d="M3 3l18 18" />
            </svg>
          </ion-button>
        </ion-col>

        <ion-col size="auto" class="">
          <ion-button color="light" fill="solid" (click)="refreshWorkOrders()" class="m-0 p-0 radius" size="small"
            title="Refresh Data">
            <ion-icon class="my-1" slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>


</ion-header>

<ion-content color="light">


  <ion-grid class="h-100" fixed>



    <div *ngIf="loading && workOrders.length === 0" class="d-flex align-items-center justify-content-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading work orders...</p>
    </div>
    <div *ngIf="!loading && workOrders.length === 0" class="no-items">
      <p>No work orders found.</p>
    </div>



    @if(!loading){

    <ion-row class="mt-2">


      <ion-col *ngFor="let workOrder of workOrders" size="12" class="p-0">
        <ion-item button detail="false" lines="none" class="radius" (click)="openWorkOrderDetail(workOrder.controlNo)">
          <ion-label>
            <ion-row class="align-items-center">
              <ion-col size="12" class="d-flex align-items-center">

                <div class="status radius">
                  {{ workOrder.status | titlecase }}
                </div>

                <div class="controlNo">
                  No. {{ workOrder.controlNo }}
                </div>

              </ion-col>
              <ion-col size="9">
                <div class="title-item">Customer</div>
                <div class="content-item text-truncate">{{ workOrder.customer.companyName | titlecase }}</div>
              </ion-col>
              <ion-col size="3">
                @if(workOrder.status === 'pending'){
                <div class="title-item">Created</div>
                <div class="content-item">{{ timeService.createDate(workOrder.createdAt) | date:'MM/dd/yy'}}</div>

                } @else if(workOrder.status === 'closed'){
                <div class="title-item">Completed</div>
                <div class="content-item">{{ timeService.createDate(workOrder.closeDate) | date:'MM/dd/yy' }}</div>

                } @else if(workOrder.type === 'pickup' && workOrder.status === 'in-progress'){
                <div class="title-item">Picked up</div>
                <div class="content-item">{{ timeService.createDate(workOrder.openSign.dateSigned) | date:'MM/dd/yy' }}
                </div>
                }

                <!-- @else if(workOrder.status === 'pending' && workOrder.type == 'pickup'){
                    <div class="title-item">Picked Up</div>
                    <div class="content-item">{{ workOrder.startDate | date:'MM/dd/yy' }}</div>
                    } -->
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadWorkOrders($event)"
      *ngIf="workOrders.length > 0 && hasMore">
      <ion-infinite-scroll-content loadingSpinner="crescent"
        loadingText="Loading more work orders..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    }

  </ion-grid>
</ion-content>