<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Work Orders</ion-title>
    <ion-searchbar slot="start" placeholder="Search orders..." [animated]="true" [debounce]="300" (ionInput)="onSearchChange($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="refreshWorkOrders()" color="light">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content color="light">
  <ion-grid class="h-100">
    <div *ngIf="loading && workOrders.length === 0" class="center-box">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Fetching Work Orders</p>
    </div>
    <div *ngIf="!loading && workOrders.length === 0" class="center-box">
      <p>No Work Orders found.</p>
    </div>

  <ion-toolbar>
    <ion-row class="align-items-center">
  <!-- El searchbar ahora está en el header -->
      <!-- Filtros horizontales -->
      <ion-col size="3">
        <ion-select [(ngModel)]="filters.status" interface="popover" (ionChange)="onFilterChange()">
          <ion-select-option value="">Status: All</ion-select-option>
          <ion-select-option value="pending">Pending</ion-select-option>
          <ion-select-option value="in-progress">In Progress</ion-select-option>
          <ion-select-option value="closed">Closed</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="3">
        <ion-select [(ngModel)]="filters.type" interface="popover" (ionChange)="onFilterChange()">
          <ion-select-option value="">Type: All</ion-select-option>
          <ion-select-option value="pickup">Pickup</ion-select-option>
          <ion-select-option value="work">Work</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="3">
        <ion-select [(ngModel)]="filters.customerId" interface="popover" (ionChange)="onFilterChange()">
          <ion-select-option value="">Customer: All</ion-select-option>
          <ion-select-option *ngFor="let customer of customers" [value]="customer.id">
            {{customer.companyName}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="3">
        <ion-select [(ngModel)]="filters.createdBy" interface="popover" (ionChange)="onFilterChange()">
          <ion-select-option value="">Created By: All</ion-select-option>
          <ion-select-option value="me">Me</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

  </ion-toolbar>

    <ion-row *ngFor="let workOrder of workOrders">
      <ion-col size="12" class="pb-0">
        <ion-item button detail="false" lines="none" class="rounded">
          <ion-label>
            <ion-row class="align-items-center">
              <ion-col size="12" class="d-flex align-items-center">

                <div class="status radius">
                  {{ workOrder.status | titlecase }}
                </div>

                <div class="controlNo">
                  No. {{ workOrder.controlNo }}
                </div>

              </ion-col>
              <ion-col size="9">
                <div class="title-item">Customer</div>
                <div class="content-item text-truncate">{{ workOrder.customer.companyName | titlecase }}</div>
              </ion-col>
              <ion-col size="3">
                @if(workOrder.status === 'pending'){
                <div class="title-item">Created</div>
                <div class="content-item">{{ timeService.createDate(workOrder.createdAt) | date:'MM/dd/yy'}}</div>

                } @else if(workOrder.status === 'closed'){
                <div class="title-item">Completed</div>
                <div class="content-item">{{ timeService.createDate(workOrder.closeDate) | date:'MM/dd/yy' }}</div>

                } @else if(workOrder.type === 'pickup' && workOrder.status === 'in-progress'){
                <div class="title-item">Picked up</div>
                <div class="content-item">{{ timeService.createDate(workOrder.openSign.dateSigned) | date:'MM/dd/yy' }}
                </div>
                }

                <!-- @else if(workOrder.status === 'pending' && workOrder.type == 'pickup'){
                    <div class="title-item">Picked Up</div>
                    <div class="content-item">{{ workOrder.startDate | date:'MM/dd/yy' }}</div>
                    } -->
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadWorkOrders($event)"
      *ngIf="workOrders.length > 0 && hasMore">
      <ion-infinite-scroll-content loadingSpinner="crescent"
        loadingText="Loading more work orders..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>