<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Work Orders</ion-title>
  </ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card routerLink="" button color="primary" class="item-box d-flex justify-content-center align-items-center">
          <div class="text-center">
          Services
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
