<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user/configs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid class="ion-padding" fixed>
    <div class="mb-3">
      <ion-text class="title-section-small ps-1">
        List of admin users
      </ion-text>
    </div>
    @if(!loading()){
    <ion-list class="radius">
      @for ( user of users(); track user.id) {

      <ion-item>

        <ion-row class="w-100">
          <ion-col size="3">
            <div class="titulo">Name</div>
            <div class="content">{{user.name}} {{user.lastName}}</div>
          </ion-col>

          <ion-col size="4">
            <div class="titulo">Email</div>
            <div class="content">{{user.email}}</div>
          </ion-col>

          <ion-col size="3">
            <div class="titulo">Status</div>
            <div class="content">
              @if(user.active){
              <ion-badge color="success">Active</ion-badge>
              } @else {
              <ion-badge color="danger">Inactive</ion-badge>
              }

            </div>
          </ion-col>

          <ion-col class="d-flex justify-content-end align-itens-center">
            <!-- {{authService.currentUserUid$ | async}} -->
            @if((authService.currentUserUid$ | async) == user.id ){

            <div class="d-flex align-items-center current me-3">
              Current user
            </div>
            } @else {
            <ion-button [disabled]="checkIfUpdating(user.id)" fill="clear"
              (click)="activateDeactivateUSer(user.id, user.active)">
              <ion-icon *ngIf="user.active" color="medium" size="small" slot="icon-only" name="pause"></ion-icon>
              <ion-icon *ngIf="!user.active" color="medium" size="small" slot="icon-only" name="play"></ion-icon>

            </ion-button>
            <ion-button [disabled]="checkIfUpdating(user.id)" fill="clear" (click)="deleteAdminUser(user.id)">
              <ion-icon color="danger" size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            }
          </ion-col>

        </ion-row>
        @if(checkIfUpdating(user.id)){
        <ion-progress-bar class="updatingOverlay" type="indeterminate"></ion-progress-bar>
        }
      </ion-item>


      }
    </ion-list>
    } @else {
    <div class="loading mt-0">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    }
  </ion-grid>


</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openAddUserModal(null)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>