<ion-header>
  <ion-toolbar class="py-2" color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Review Shift <br>
      <!-- <ion-text style="font-size: 0.8rem;">
        Mon 1-5-25
      </ion-text> -->
    </ion-title>

  </ion-toolbar>
</ion-header>  

<ion-content color="light">
  @if(loading){
  <div *ngIf="loading" class="loading">
    <ion-spinner></ion-spinner>
  </div>
  }@else if(shift.blocks.length > 0){
  <!-- Hours and money -->
  <ion-row class="" style="margin: 10px ">
    <ion-col size="6">
      <div class="mb-1">
        <app-hours-worked-card [timeWorked]="timeWorked">
        </app-hours-worked-card>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="mb-1">
        <app-money-earned-card [hourlyRate]="hourlyRate" [timeWorked]="timeWorked"></app-money-earned-card>
      </div>
    </ion-col>
  </ion-row>
  @for(block of shift.blocks; track block){
  <ion-card class="mb-2 mt-0 d-flex">
    <div class="lineBlock" [ngClass]="block.type==='working' ? 'success' : block.type==='lunch' ? 'warning' : 'dark'">
      <ion-icon class="icon-block"
        [name]="block.type==='working' ? 'hammer' : block.type==='lunch' ? 'pizza' : block.type==='commute' ? 'car' : 'help'"></ion-icon>
    </div>
    <ion-row class="ps-2">
      <ion-col size="8" class="border-end py-3 px-2">
        <div>
          <ion-text class="workingPlace">
            {{getCompanyInfoById(block.workingPlace)}}
          </ion-text>
        </div>
        <div>
          <ion-text class="blockType"
            [color]="block.type==='working' ? 'success' : block.type==='lunch' ? 'warning' : 'dark'">
            {{block.type | titlecase}}
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="4" class=" m-0 p-0">
        <ion-row class="m-0 p-0 h-100">
          <ion-col size="12" class="d-flex align-items-center ps-2 pe-3 py-0 m-0 border-bottom ">
            <div>
              <strong>In:</strong>
            </div>
            <div class="ms-auto" style="size:auto">
              {{block.startTime | date:'h:mm aa'}}
            </div>
          </ion-col>
          <ion-col size="12" class="d-flex align-items-center ps-2 pe-3 py-0 m-0">
            <div>
              <strong>Out:</strong>
            </div>
            <div class="ms-auto" style="size:auto">
              @if(!block.endTime){
              Current
              } @else{
              {{block.endTime | date:'h:mm aa'}}

              }
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-card>
  }

  } @else if(shift.blocks.length == 0){
  <div class="no-items">
    <div>
      <ion-icon name="close"></ion-icon><br>
      <div class="text">
        <ion-text>
          No blocks were found for this shift.
        </ion-text>
      </div>

    </div>
  </div>
  }



</ion-content>