<ion-content color="light" class="">
  <div *ngIf="loadingData" class="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!loadingData">
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-grid class="welcome-box  ion-padding">
      <div class="welcome-msg">
        Hi, {{userData.firstName | titlecase}}!
      </div>
      <div class="period-box">
        Periodo actual {{resPublicConfig.lastStartingDate | date}}
        -
        {{this.paycheckClosingDate | date}}</div>
    </ion-grid>
    <ion-grid class="ion-padding">
      <ion-row class="mb-3">
        <ion-col size="12">
          <ion-card-subtitle class="card-subtitle">
            <ion-text color="dark"> Today's Shift </ion-text>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="12">
          <div class="mb-1">
            <app-status-card [userData]="userData"></app-status-card>
          </div>
        </ion-col>



      </ion-row>

      <ion-row class="mb-3">
        <ion-col size="12">
          <ion-card-subtitle class="card-subtitle">
            <ion-text color="dark"> Current Period Summary </ion-text>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="6">
          <div class="mb-1">
            <app-hours-worked-card [timeWorked]="timeWorked">
            </app-hours-worked-card>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="mb-1">
            <app-money-earned-card [hourlyRate]="hourlyRate" [timeWorked]="timeWorked"></app-money-earned-card>
          </div>
        </ion-col>



      </ion-row>



    </ion-grid>
  </div>
</ion-content>