<ion-content >

  <ion-grid class="ion-no-padding h-100">
    <form [formGroup]="signInForm" class="h-100">

      <ion-row class="ion-align-items-center ion-justify-content-center h-100">
        <ion-col size="12" size-md="6" class="ion-justify-content-center">

          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" class="my-5 mx-4">
              <!-- <img class="img-fluid" src="/assets/logos/logo_dinistore_2.png" alt="logo"> -->
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">

            <ion-col size="12" size-md="12" size-lg="8" size-xl="6" class="p-0 m-0">
              <ion-title>Log in</ion-title>
              <ion-input label="Email" label-placement="floating" fill="solid" placeholder="example@example.com"
                formControlName="email"></ion-input>
              <ion-input label="Password" label-placement="floating" fill="solid" placeholder="******"
                formControlName="password"></ion-input>


              <ion-button [disabled]="!signInForm.valid || sending" expand="full"
                (click)="signIn(signInForm)">Sign in</ion-button>
              <!-- <a href="#!" class="forgot-password-link">Forgot password?</a> -->
              <!-- <p class="login-wrapper-footer-text">Don't have an account? <a href="#!" class="text-reset">Register
                    here</a></p> -->
            </ion-col>
          </ion-row>



        </ion-col>
        <ion-col size="12" size-md="6" class="px-0 d-none d-md-block h-100"
          style="background-color: var(--ion-color-primary);">

        </ion-col>
        <!-- <ion-col size="12" size-md="6" class="px-0 d-none d-md-block"
        style="height: 100vh;background-image: url('/assets/fotos/login.jpg'); background-position: center; background-size: cover;">
      </ion-col> -->
      </ion-row>
    </form>

  </ion-grid>

</ion-content>