ion-card-header {
    background-color: var(--ion-color-dark-tint);
}

ion-card {
    background-color: var(--ion-color-dark-tint);
}

ion-card-subtitle {
    ion-text {
        color: var(--ion-color-light);
    }

    font-size: 0.7rem;
    color: var(--ion-color-dark);
}

ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .hourCounter {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--ion-color-light-shade)
    }

    .minuteCounter {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--ion-color-light-shade)
    }
}