.row-headers {
    font-weight: bold;
    font-size: 0.7rem;
    background-color: var(--ion-color-medium);
    color: var(--ion-color-dark);
    padding: 0 10px 0 10px;
    border-radius: 10px 10px 0 0;
}

.day {
    font-weight: bold;
}

.title {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--ion-color-dark-tint);
}

.data {
    font-size: 0.9rem;
}

.checkmark {
    color: var(--ion-color-primary);
    font-weight: bolder;
    font-size: 1.2rem;
    position: relative;
    top: 3px;
}

.tip {
    color: var(--ion-color-medium-shade);
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--ion-color-light);
}