<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button id="PaycheckHistory">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <!-- Popover Paycheck History -->
      <ion-popover class="paycheckHistoryPopover" trigger="PaycheckHistory" triggerAction="click"
        [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list class="my-2" lines="none" *ngIf="!loading">
              @for(date of userData.paycheckHistory ; track userData.paycheckHistory){

              <ion-item button [detail]="false" (click)="getUserWorkPaycheck(date)">
                <div class="d-flex justify-content-center align-items-center w-100">
                  <div>
                    <strong>{{date.split('-')[0] | date:'MM-dd-yy'}}</strong> to
                    <strong>{{date.split('-')[1] | date:'MM-dd-yy'}}</strong>

                    <ion-icon *ngIf="date == selectedPeriodId" class="checkmark ms-2" name="checkmark"></ion-icon>
                  </div>

                </div>
              </ion-item>
              }
              <!-- CURRENT PERIOD -->
              <ion-item button [detail]="false" (click)="getUserWorkPaycheck('current')">
                <div class="d-flex justify-content-center align-items-center w-100">
                  <div>
                    <!-- <strong>{{date.split('-')[0] | date:'MM-dd-yy'}}</strong> to
                    <strong>{{date.split('-')[1] | date:'MM-dd-yy'}}</strong> -->
                    Current
                    <ion-icon *ngIf="selectedPeriodId == 'current'" class="checkmark ms-2" name="checkmark"></ion-icon>
                  </div>

                </div>
              </ion-item>
            </ion-list>
            <div class="tip px-3 py-2">
              Only the periods in which you submitted a report are displayed.
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
      <!-- END -->
    </ion-buttons>
    <ion-title>
      @if(selectedPeriodId == 'current'){
      Current period
      } @else {
      <strong>{{selectedPeriodId.split('-')[0] | date:'MM-dd-yy'}}</strong> to
      <strong>{{selectedPeriodId.split('-')[1] | date:'MM-dd-yy'}}</strong>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  @if(loading){
  <div class="loading">
    <ion-spinner></ion-spinner>
  </div>
  }@else{

  <!-- SUMMARY DATA -->
  <!-- <ion-row class="" style="margin: 10px ">
  <ion-col size="6">
    <div class="mb-1">
      <app-hours-worked-card [timeWorked]="timeWorked">
      </app-hours-worked-card>
    </div>
  </ion-col>
  <ion-col size="6">
    <div class="mb-1">
      <app-money-earned-card [hourlyRate]="hourlyRate" [timeWorked]="timeWorked"></app-money-earned-card>
    </div>
  </ion-col>
</ion-row> -->
  <!--  -->

  @for (day of selectedPeriod ; track day){
  <ion-card class="my-3" button (click)="viewShift(day.shiftObject)">

    <ion-card-header [color]="day.blocks.length > 0 ? 'success' : 'medium'" class="p-1 text-center">

      <div>
        <ion-text class="day">
          {{day.day | date:'EE' }}
        </ion-text>
        <ion-text>
          {{day.day | date:'LLL, d, YY'}}
        </ion-text>
      </div>

    </ion-card-header>
    <ion-card-content class="py-1 px-2">
      <ion-row>
        <ion-col size="3">
          <div class="title">Start</div>
          <div class="data">
            {{ day.start ? (day.start | date:'h:mm aaa') : '-' }}

          </div>
        </ion-col>
        <ion-col size="3">
          <div class="title">End</div>

          <div class="data">
            {{ day.end ? (day.end | date:'h:mm aaa'): '-' }}

          </div>
        </ion-col>
        <ion-col>
          <div class="title">Lunch</div>

          <div class="data">
            @if(day.timeWorked){
            {{day.timeWorked.lunch | date:'H:mm':'UTC'}} Hrs
            }@else{
            -
            }
          </div>


        </ion-col>
        <ion-col>
          <div class="title">Total Hrs.</div>
          <div class="data">
            @if(day.timeWorked){
            {{day.timeWorked.work | date:'H:mm':'UTC'}} Hrs
            }@else{
            -
            }
          </div>

        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>

  }
  }


</ion-content>

