<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>workers</ion-title>
  </ion-toolbar>
  <ion-segment [value]="active" class="segment">
    <ion-segment-button value="active" [routerLink]="['/user/workers/active']">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending" [routerLink]="['/user/workers/pending']">
      <ion-label>Pending approval</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content color="light">

  <ion-grid fixed>
    
    <ion-router-outlet></ion-router-outlet>

  </ion-grid>


</ion-content>