.upside-box {
    background-color: var(--ion-color-primary);

    .main-text {
        font-weight: bold;
        font-size: 2rem;
        margin: 100px 20px;
        color: var(--ion-color-light);
        max-width: 50%;
        line-height: normal;
    }
}



ion-item{
    --padding-start	: 0px;
    margin-bottom: 7px;
    --border-radius :10px;
    --inner-padding-end:0px;
}