<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="PaycheckHistory">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>

      <ion-popover class="paycheckHistoryPopover" trigger="PaycheckHistory" triggerAction="click"
        [dismissOnSelect]="true" [showBackdrop]="false">
        <ng-template>
          <ion-content>
            <ion-list class="py-1" lines="none">
              @for(date of configs.paycheckHistory; track configs.paycheckHistory){
              <ion-item button [detail]="false" (click)="setPreviousData(date)">
                <div class="d-flex justify-content-center align-items-center w-100">
                  <div>
                    <strong>{{date.split('-')[0] | date:'MM-dd-yy'}}</strong> to
                    <strong>{{date.split('-')[1] | date:'MM-dd-yy'}}</strong>
                    <!-- <ion-icon *ngIf="date == selectedPeriodId" class="checkmark ms-2" name="checkmark"></ion-icon> -->
                  </div>

                </div>
              </ion-item>
              }
              <!-- CURRENT PERIOD -->
              <ion-item button [detail]="false" (click)="setPreviousData('current')">
                <div class="d-flex justify-content-center align-items-center w-100">
                  <div>
                    <!-- <strong>{{date.split('-')[0] | date:'MM-dd-yy'}}</strong> to
                    <strong>{{date.split('-')[1] | date:'MM-dd-yy'}}</strong> -->
                    Current
                    <ion-icon *ngIf="selectedPeriodId == 'current'" class="checkmark ms-2" name="checkmark"></ion-icon>
                  </div>

                </div>
              </ion-item>

            </ion-list>
            <div class="tip px-3 py-2">
              Only the periods in which there was activity are displayed.
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>




    </ion-buttons>
    <ion-title>Pay Periods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  @if(loading){
  <div class="loading mt-0">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  }@else{
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header color="primary" class="text-center">
            <ion-card-title>
              @if(selectedPeriodId == 'current'){
              Current period
              }@else{
              Previous period
              }
            </ion-card-title>
            <ion-card-subtitle>
              @if(selectedPeriodId == 'current'){
              {{configs.lastStartingDate | date}} to
              {{currentClosingDate | date}}
              }@else{
              <strong>{{selectedPeriodId.split('-')[0] | date}}</strong> to
              <strong>{{selectedPeriodId.split('-')[1] | date}}</strong>



              }

            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            @if (loading){
            <div class="loading d-flex align-items-center justify-content-center">
              <ion-spinner></ion-spinner>
            </div>
            } @else {
            <div>

            </div>
            <ion-accordion-group expand="inset" value="1">
              @for (user of usersData; track user){

              <app-user-accordion [userData]="user" [configs]="configs" [customers]="customers"></app-user-accordion>

              }

            </ion-accordion-group>
            }


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  }

</ion-content>