.type-box {
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    padding: 15px;
}
.section-subtitle {
    margin-top: 10px;
    font-weight: 500;
}
ion-item{
    border-radius: 15px;
}
.dataItem{
    .title{
        font-size: 13px;
        font-weight: 800;
    }
    .data{

    }
}