.type-box {
    background-color: var(--ion-color-primary);
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.section-subtitle {
    margin-top: 20px;
    font-weight: 500;
}

ion-item {
    border-radius: 10px;
}

.dataItem {

    .title {
        font-size: 14px;
        color: var(--ion-color-medium);
    }

    .data {}
}

.truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* número de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.no-items-box {

}

.counter {
    background-color: var(--ion-color-primary);
    color: white;
    height: 100%;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 5px;
}

.with-counter {
    --padding-start: 0px
}
.serviceDescription{
    font-size: 14px;
    line-height: normal;
}

.signImg{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.infoBox{
    background-color: rgb(201, 201, 201);
    color: rgb(93, 93, 93);
    text-align: center;
    padding: 6px 0;
}
.divider{
    height: 1px;
    background-color: rgb(207, 207, 207);
    margin: 5px 0px;
}
.divider-text{
    font-size: 13px;
    color: rgb(161, 161, 161);
}