.label-1 {
    font-size: 14px;
    font-weight: bold;
}

.time-picker-card {
    border-radius: 100% !important;
    aspect-ratio: 1/1;
    width: 300px;
    padding: 0px;
    background-color: rgb(244, 245, 248);
    border: 10px grey solid;
    padding: 10px;
}

.timePicker {
    border-radius: 100%;
}

// .timePicker {
//     --wheel-highlight-background: 255, 0, 0
// }
ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 7px;
    --border-radius: 10px
}