<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      @if(customer!=null){
      Edit Customer
      }@else{
      Add Customer
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <form [formGroup]="customerForm">
      <ion-list class="py-0 ">
        <ion-list-header class="ps-2">
          Customer Information
        </ion-list-header>
        <ion-row>

          <ion-col size="6" class=" ">
            <ion-item color="light" class="radius">
              <ion-input formControlName="companyName" label="Company Name (Required)"
                label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-input formControlName="companyPhone" label="Phone number (Optional)"
                label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-list>

      <ion-list class="py-0 " formGroupName="companyAddress">

        <ion-list-header class="ps-2">
          Address
        </ion-list-header>
        <ion-row>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-input formControlName="street" label="Street (Required)" label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-input formControlName="city" label="City (Required)" label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-select formControlName="state" labelPlacement="stacked" label="State (Required)" aria-label="State"
                interface="popover" placeholder="Select state">
                @for(state of states; track state.code){
                <ion-select-option [value]="state.code">{{state.name}}</ion-select-option>

                }

              </ion-select>
            </ion-item>
            <!-- <ion-item color="light" class="radius">
              <ion-input formControlName="state" label="State" label-placement="stacked"></ion-input>
            </ion-item> -->
          </ion-col>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-input formControlName="zip" label="Zip (Required)" label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="py-0 ">
        <ion-list-header class="ps-2">
          Contact Information
        </ion-list-header>
        <ion-row>

          <ion-col size="6" class=" ">
            <ion-item color="light" class="radius">
              <ion-input formControlName="contactName" label="Contact Name (Required)"
                label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-input formControlName="contactPhone" label="Phone number (Optional)"
                label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="">
            <ion-item color="light" class="radius">
              <ion-input formControlName="contactEmail" label="Contact Email (Required)"
                label-placement="stacked"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-list>

    </form>

  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="light" class="px-2">
    <ion-buttons slot="end">
      <ion-button [disabled]="!customerForm.valid" (click)="addCustomer()" color="primary" fill="solid">
        @if (loading){
        <ion-spinner></ion-spinner>
        } @else {
          @if(customer!=null){
            Update
            }@else{
            Add
            }
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>