<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Work Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user/work-orders"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <form [formGroup]="addWorkOrderForm">
      <ion-row>
        <ion-col size="12" class="section-subtitle">
          Basic Information
        </ion-col>
        <!-- startDate -->
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Start date</ion-label>
            <ion-datetime-button class="pb-3" datetime="startDate"></ion-datetime-button>
            <ion-popover [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" id="startDate" formControlName="startDate"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <!--  -->
        <!-- closeDate -->
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date completed</ion-label>
            <ion-datetime-button class="pb-3" datetime="closeDate"></ion-datetime-button>
            <ion-popover [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" id="closeDate" formControlName="closeDate"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <!--  -->
        <!-- billTo -->
        <ion-col size="12">
          <ion-item>
            <ion-select formControlName="billTo" labelPlacement="stacked" placeholder="Select a customer"
              interface="modal">
              <div slot="label">Bill To <ion-text color="danger">(Required)</ion-text></div>
              <ion-select-option value="apple">
                <span>Gatorade</span>, <span>Saint cloud</span>,
                <span>FL</span>
              </ion-select-option>


            </ion-select>
          </ion-item>
        </ion-col>
        <!--  -->
      </ion-row>

      <ion-row>
        <ion-col size="12" class="section-subtitle">
          Noted Equipments
        </ion-col>
        <ion-col size="12">
          @if(notedEquipments.value.length == 0){
          <div class="no-equipment-box">
            <div>
              No Equipment added to the work order.
            </div>

          </div>
          }
          @for(notedEquipment of notedEquipments.value; track notedEquipment; let i = $index){
          <ion-item class="mb-1">
            <ion-row class="w-100">
              <ion-col size="6">
                <div class="equipmentHeader">
                  Make
                </div>
                <div class="equipmentData">
                  {{notedEquipment.make || 'N/A'}}
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="equipmentHeader">
                  Model
                </div>
                <div class="equipmentData">
                  {{notedEquipment.model || 'N/A'}}
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="equipmentHeader">
                  Serial Number
                </div>
                <div class="equipmentData">
                  {{notedEquipment.serialNumber || 'N/A'}}
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="equipmentHeader">
                  Equipment Number
                </div>
                <div class="equipmentData">
                  {{notedEquipment.equipmentNumber || 'N/A'}}
                </div>
              </ion-col>
            </ion-row>
            <ion-button slot="end" size="small" shape="round" (click)="removeEquipment(i)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-item>
          }
          <div class="d-flex justify-content-center pt-2">
            <ion-button size="small" (click)="openAddEquipmentModal()">Add
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="section-subtitle">
          Services
        </ion-col>
        <ion-col size="12">
          <div class="no-equipment-box">
            <div>
              No Services added to the work order.
            </div>

          </div>
          <div class="d-flex justify-content-center pt-2">
            <ion-button size="small" (click)="openAddEquipmentModal()">Add
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>