<ion-content>
  <ion-grid class="upside-box">

  </ion-grid>
  <ion-grid class="px-3">
    <ion-row>
      <ion-col >
        <ion-item style="--padding-start	: 0px;">
          <ion-input label="Usuario" label-placement="stacked" fill="outline" placeholder="Ingresa tu usuario"></ion-input>
        </ion-item>

        <ion-item style="--padding-start	: 0px;">
          <ion-input label="Contraseña" label-placement="stacked" fill="outline" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>
        <div class="w-100 text-end py-3"> 
          <ion-text color="primary" class="strong text-end">
            Olvide mi contraseña
          </ion-text>
        </div>
       

        <div>
          <ion-button expand="block">Log In</ion-button>
        </div>
        <div class="divider py-3">
          <div></div>
          <div>o</div>
          <div></div>
        </div>
        <div>
          <ion-button expand="block" fill="outline" >Sign up</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>