.blockType{
    font-weight: bold;
}
.lineBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    ion-icon{
        font-size: 1.1rem;
        color: white;
    }
}
.success{
    background-color: var(--ion-color-success);
}
.warning{
    background-color: var(--ion-color-warning);
}
.dark{
    background-color: var(--ion-color-dark);
}
.locateIcon{
    font-size: 1.3rem;
    color: var(--ion-color-primary);
    padding-top: 4px;
    cursor: pointer;
}
.map-popover{
    --width: 400px;
    --height: 400px;

}
.no-items {
    text-align: center;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        font-size: 1.2rem;
        color: var(--ion-color-medium-tint);

    }

    ion-icon {
        font-weight: 200;
        color: var(--ion-color-medium);
        font-size: 8rem;
    }
}