.time-picker-card {
    border-radius: 100% !important;
    aspect-ratio: 1/1;
    width: 300px;
        padding: 0px;
    background-color: rgb(244, 245, 248);
    border: 10px grey solid;
    padding: 10px;
}

.timePicker {
    border-radius: 100%;
}