<ion-header>
  <ion-toolbar color="primary">

    <!-- Título con animación -->
    <ion-title class="fade-in">
      Work Orders
    </ion-title>

    <!-- Searchbar con animación -->
    <!-- <ion-searchbar name="searchText" *ngIf="isSearching" placeholder="Buscar..." class="slide-in"
      (ionInput)="onSearchChange($event)" [animated]="true" [debounce]="300">
    </ion-searchbar> -->

    <!-- Botón lupa / cerrar -->
    <ion-buttons slot="end">
      <ion-button routerLink="search">
        <ion-icon name='search' slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="4">
        <ion-card class="button-option" button>
          <ion-card-content>
            Pending
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <ion-row>

      <ion-col class="title-box d-flex align-items-center pb-0">
        <div>
          <ion-text>
            Pending for sign
          </ion-text>
        </div>
        <div class="ms-auto">
          <ion-button (click)="viewMore('pending')" color="primary" size="small" fill="clear">
            View All
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-list style="border-radius: 15px;">
          @for(workOrder of pendingSignWorkOrders; track workOrder.id){
          <ion-item detail="false" color="light" class="rounded">
            <ion-label>
              <ion-row class="align-items-center">
                <ion-col size="12" class="controlNo m-0 pb-0">
                  No. {{workOrder.controlNo}}
                </ion-col>
                <!-- billTo -->
                <ion-col size="7" class="m-0">
                  <div class="title-item">Customer</div>
                  <div class="content-item text-truncate">{{workOrder.customer.companyName | titlecase}}</div>
                </ion-col>
                <!-- Date -->
                <ion-col size="3" class="m-0">
                  <div class="title-item">Created On</div>
                  <div class="content-item">{{workOrder.startDate | date:'MM/dd/yy'}}</div>
                </ion-col>

                <ion-col size="auto" class="m-0 ms-auto">
                  <ion-buttons>
                    <ion-button [id]="workOrder.id">
                      <ion-icon name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                    <ion-popover [trigger]="workOrder.id" triggerAction="click" [dismissOnSelect]="true">
                      <ng-template>
                        <ion-content>
                          <ion-list>
                            <ion-item detail="false" button (click)="openRequestSignModal(workOrder)">
                              <ion-icon size="small" slot="start" name="pencil-outline"></ion-icon>
                              Request Sign
                            </ion-item>
                            <ion-item detail="false" button (click)="openDeleteAlert(workOrder.id)">
                              <ion-icon size="small" color="danger" slot="start" name="trash"></ion-icon>
                              <ion-text color="danger">Delete</ion-text>
                            </ion-item>
                          </ion-list>
                        </ion-content>
                      </ng-template>
                    </ion-popover>

                  </ion-buttons>
                </ion-col>

              </ion-row>
            </ion-label>
          </ion-item>
          }@empty {
          <ion-item lines="none" color="translucent" class="no-items-box">
            <ion-label>
              No pending work orders for signature.
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="pt-3">
      <ion-col class="title-box pb-0" >

        <ion-col class="title-box d-flex align-items-center">
          <div>
            <ion-text>
              Pending for Delivery
            </ion-text>
          </div>
          <div class="ms-auto">
            <ion-button (click)="viewMore('in-progress', 'pickup')" color="primary" size="small" fill="clear">
              View All
            </ion-button>
          </div>
        </ion-col>
      </ion-col>
      <ion-col size="12">
        <ion-list style="border-radius: 15px;">
          @for(workOrder of inProgressWorkOrders; track workOrder.id){
          <ion-item detail="false" color="light" class="rounded">
            <ion-label>
              <ion-row class="align-items-center">
                <ion-col size="12" class="controlNo m-0 pb-0">
                  No. {{workOrder.controlNo}}
                </ion-col>
                <!-- billTo -->
                <ion-col size="7" class="m-0">
                  <div class="title-item">Customer</div>
                  <div class="content-item text-truncate">{{workOrder.customer.companyName | titlecase}}</div>
                </ion-col>
                <!-- Date -->
                <ion-col size="3" class="m-0">
                  <div class="title-item">Picked Up</div>
                  <div class="content-item">{{workOrder.startDate | date:'MM/dd/yy'}}</div>
                </ion-col>

                <ion-col size="auto" class="m-0 ms-auto">
                  <ion-buttons>
                    <ion-button [id]="workOrder.id">
                      <ion-icon name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                    <ion-popover [trigger]="workOrder.id" triggerAction="click" [dismissOnSelect]="true">
                      <ng-template>
                        <ion-content>
                          <ion-list>
                            <ion-item detail="false" button (click)="openRequestSignModal(workOrder)">
                              <ion-icon size="small" slot="start" name="pencil-outline"></ion-icon>
                              Request Delivery Sign
                            </ion-item>
                          </ion-list>
                        </ion-content>
                      </ng-template>
                    </ion-popover>

                  </ion-buttons>
                </ion-col>

              </ion-row>
            </ion-label>
          </ion-item>
          } @empty {
          <ion-item lines="none" color="translucent" class="no-items-box">
            <ion-label>
              No pending delivery work orders.
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>


    <!-- CLOSED WORK ORDERS -->

    <ion-row class="pt-3">
      <ion-col class="title-box d-flex align-items-center  pb-0">
        <div>
          <ion-text>
            Closed Work orders
          </ion-text>
        </div>
        <div class="ms-auto">
          <ion-button (click)="viewMore('closed')" color="primary" size="small" fill="clear">
            View All
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-list style="border-radius: 15px;">
          @for(workOrder of closedWorkOrders; track workOrder.id){
          <ion-item button class="rounded" detail="false" color="light" (click)="openRequestSignModal(workOrder)">
            <ion-label>
              <ion-row class="align-items-center">
                <ion-col size="12" class="controlNo m-0 pb-0">
                  No. {{workOrder.controlNo}}
                </ion-col>
                <!-- billTo -->
                <ion-col size="7" class="m-0">
                  <div class="title-item">Customer</div>
                  <div class="content-item text-truncate">{{workOrder.customer.companyName | titlecase}}</div>
                </ion-col>
                <!-- Date -->
                <ion-col size="3" class="m-0">
                  <div class="title-item">Closed On</div>
                  <div class="content-item">{{workOrder.closeDate| date:'MM/dd/yy'}}</div>
                </ion-col>

                <!-- <ion-col size="auto" class="m-0 ms-auto">
                  <ion-buttons>
                    <ion-button [id]="workOrder.id">
                      <ion-icon name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                    <ion-popover [trigger]="workOrder.id" triggerAction="click" [dismissOnSelect]="true">
                      <ng-template>
                        <ion-content>
                          <ion-list>
                            <ion-item detail="false" button (click)="openRequestSignModal(workOrder)">
                              <ion-icon size="small" slot="start" name="pencil-outline"></ion-icon>
                              Request Delivery Sign
                            </ion-item>
                          </ion-list>
                        </ion-content>
                      </ng-template>
                    </ion-popover>

                  </ion-buttons>
                </ion-col> -->

              </ion-row>
            </ion-label>
          </ion-item>
          } @empty {
          <ion-item lines="none" color="translucent" class="no-items-box">
            <ion-label>
              No closed work orders.
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>






</ion-content>

<ion-fab horizontal="end" vertical="bottom" class="p-2">
  <ion-fab-button (click)="openWorkTypeModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>