<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/work-orders"></ion-back-button>
    </ion-buttons>

    <ion-searchbar
      placeholder="Search orders..."
      [animated]="true"
      [debounce]="300"
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="openFilters()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="results-container">
    <div *ngIf="isLoading && workOrders.length === 0" class="center-box">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Fetching Work Orders</p>
    </div>

    <div *ngIf="!isLoading && workOrders.length === 0" class="center-box">
      <app-no-items-found></app-no-items-found>
    </div>

    <cdk-virtual-scroll-viewport itemSize="120" class="viewport" *ngIf="workOrders.length > 0">
      <ion-list>
        <ion-item (click)="openModalWorkOrder(workOrder.id)" button detail="false" color="light" *cdkVirtualFor="let workOrder of workOrders; trackBy: trackById">
          <ion-label>
            <ion-row class="align-items-center">
              <ion-col size="12" class="controlNo">
                No. {{ workOrder.controlNo }}
              </ion-col>
              <ion-col size="7">
                <div class="title-item">Customer</div>
                <div class="content-item text-truncate">{{ workOrder.customer.companyName | titlecase }}</div>
              </ion-col>
              <ion-col size="3">
                <div class="title-item">Picked Up</div>
                <div class="content-item">{{ workOrder.startDate | date:'MM/dd/yy' }}</div>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="workOrders.length > 0">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more work orders...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>