<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding" fixed="true">
    <ion-row class="profile-box align-items-center justify-content-center mb-3">
      <ion-col size="auto" class="me-3">
        <div class="avatar">
          <img src="https://cdn-icons-png.freepik.com/256/6997/6997484.png" alt="">
        </div>
      </ion-col>

    </ion-row>
    <form [formGroup]="profileForm">
      <ion-list class="radius">
        <ion-item color="light">
          <ion-input label="Name" readonly labelPlacement="stacked" placeHolder="Your name is required"
            formControlName="name" required></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-input label="Last Name" disable="true" labelPlacement="stacked" placeHolder="Your last name is required"
            formControlName="lastName" readonly required></ion-input>
        </ion-item>
      </ion-list>
      <div class="lock-message pt-1">
        Some fields are locked and can only be modified by contacting the administrator.
      </div>
      <div class="w-100 d-flex justify-content-center mt-3">
        <ion-button (click)='updateProfile()' [disabled]="true" size="medium">
          Update profile
        </ion-button>
      </div>
    </form>
  </ion-grid>
</ion-content>