.profile-box {
    .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 5px solid var(--ion-color-medium);

        svg {
            background-color: #e9ecef;
            position: relative;
            bottom: -10px;
            width: 120%;
            height: 120%;
            object-fit: cover;
        }
    }


}

.lock-message {
    font-size: 0.8rem;
    color: var(--ion-color-dark-tint);
    text-align: center;
}

.lock-message {
    font-size: 0.8rem;
    color: var(--ion-color-dark-tint);
    text-align: center;
}