<ion-header>
  <ion-toolbar color="primary" style="--border-width: 0px;">
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
          Log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-row class="h-100 py-3">
    <ion-col size="12" class="">
      <div class="w-100 h-100 central-box text-center d-flex align-items-center justify-content-center">
        <div class="mx-4">
          <div class="icon">
            <ion-icon name="key-outline"></ion-icon>
          </div>
          <div  class="title text-center pb-3">
            Access Pending
          </div>
          <div class="subtitle">
            Your account is currently under review. Please wait for the administrator's approval. We will notify you
            once your account is activated.
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>