<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ mode }} Material Used</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <form [formGroup]="addMaterialForm">

      <ion-row>
        <ion-col size="12" class="section-subtitle">
          Basic Information
        </ion-col>

        <!-- quantity -->
        <ion-col size="12">
          <ion-item>
            <ion-input type="number" inputmode="numeric" formControlName="quantity" labelPlacement="stacked"
              placeholder="min 1" errorText="Invalid input. Make sure you are typing a number">
              <div slot="label">Quantity</div>
            </ion-input>
          </ion-item>
        </ion-col>
        <!--  -->

        <!-- partNumber -->
        <ion-col size="12">
          <ion-item>
            <ion-input formControlName="partNumber" labelPlacement="stacked" placeholder="Ex. 18-145">
              <div slot="label">Part Number</div>
            </ion-input>
          </ion-item>
        </ion-col>
        <!--  -->

        <!-- description -->
        <ion-col size="12">
          <ion-item>
            <ion-input formControlName="description" labelPlacement="stacked" placeholder="Ex. 4/0 Tips">
              <div slot="label">Description</div>
            </ion-input>
          </ion-item>
        </ion-col>
        <!--  -->

        <!-- ts -->
        <ion-col size="12">
          <ion-item>
            <ion-input formControlName="ts" labelPlacement="stacked" placeholder="Ex. 34">
              <div slot="label">T/S</div>
            </ion-input>
          </ion-item>
        </ion-col>
        <!--  -->

        <!-- unitPrice -->
        <!-- <ion-col size="12">
          <ion-item>
            <ion-input formControlName="unitPrice" labelPlacement="stacked" placeholder="Ex. 34">
              <div slot="label">T/S</div>
            </ion-input>
          </ion-item>
        </ion-col> -->
        <!--  -->

      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-padding">
    <ion-buttons slot="end">
      <ion-button fill="solid" color="light" (click)="save()" [disabled]="addMaterialForm.invalid">
        <span class="px-4">{{ mode === 'Add' ? 'Add' : 'Update' }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>