ion-card{

}

.avatar {
    border-radius: 20%;
    background-color: rgb(104, 104, 104);
    width: 40px;
    aspect-ratio: 1 / 1;
}

ion-col {
    display: flex;
    align-items: center;
}
.title {
    font-size: 0.7rem;
    color: rgb(82, 82, 82);

}
.name {
    color: rgb(63, 63, 63);
    font-weight: bold;
    font-size: 0.9rem;
}
.status {
    font-weight: bold;
    font-size: 0.9rem;
}