<ion-split-pane when="lg" contentId="main">
  <ion-menu contentId="main" class="id">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- User Profile Block -->
      @if(currentUser){
      <div class="user-profile-block">
        <div class="user-avatar">
          {{ getUserInitials() }}
        </div>
        <div class="user-info">
          <div class="user-name">
            {{ getUserFullName() }}
          </div>
          <div class="user-email">
            {{ getUserEmail() }}
          </div>
        </div>
      </div>
      } @else {
      <div class="user-profile-block">
        <div class="user-avatar">
          U
        </div>
        <div class="user-info">
          <div class="user-name">
            Loading...
          </div>
          <div class="user-email">
            Please wait
          </div>
        </div>
      </div>
      }

      <ion-list class="menu">
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-item lines="none" detail="false" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/dashboard']">
            <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
            Dashboard
          </ion-item> -->
          <ion-item button lines="none" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/pay-periods']">
            <ion-icon aria-hidden="true" name="people" slot="start"></ion-icon>
            Pay Periods
          </ion-item>
          <!-- <ion-item button lines="none" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/shifts']">
            <ion-icon aria-hidden="true" name="people" slot="start"></ion-icon>
            Shifts
          </ion-item> -->
          <ion-item button lines="none" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/customers']">
            <ion-icon aria-hidden="true" name="business" slot="start"></ion-icon>
            Customers
          </ion-item>
          <ion-item button lines="none" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/workers/active']">
            <ion-icon aria-hidden="true" name="people" slot="start"></ion-icon>
            Workers
          </ion-item>
          <ion-item button lines="none" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/work-orders']">
            <ion-icon aria-hidden="true" name="reader" slot="start"></ion-icon>
            Work Orders
          </ion-item>
          <ion-item button lines="none" routerLinkActive="selected" routerDirection="root"
            [routerLink]="['/user/configs']">
            <ion-icon aria-hidden="true" name="settings" slot="start"></ion-icon>
            Settings
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer class="ion-padding">
      <ion-list class="menu py-0">
        <ion-item button lines="none" (click)="logOut()">
          <ion-icon aria-hidden="true" name="log-out" slot="start"></ion-icon>
          Log Out
        </ion-item>
      </ion-list>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Main View</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-split-pane>