<div *ngIf="userData.status == 'onShift' || userData.status == 'onLunch'">
  <ion-card class="m-0 shift-card on-shift">
    <ion-row class="card-status">
      <ion-col size="2" class=" py-4 d-flex align-items-center justify-content-center hours-box">
        <div class="text-center hours-box-container">
          <div>
            <span *ngIf="elapsedTime.work.hours == 0">00</span>
            <span *ngIf="elapsedTime.work.hours > 0">{{elapsedTime.work.hours}}</span>
          </div>
          <div>
            {{elapsedTime.work.minutes}}
          </div>
          <div>
            HRS
          </div>
        </div>

      </ion-col>
      <ion-col class="status-info">
        <div>
          Estado actual
        </div>
        <div class="current-status">

          <ion-text *ngIf="userData.status=='onShift'" color="success">
            On Shift
          </ion-text>
          <ion-text *ngIf="userData.status=='onLunch'" color="warning">
            On Lunch
          </ion-text>
        </div>

        <div>
          <ion-buttons class="ion-justify-content-end buttons mt-auto">
            <ion-button *ngIf="userData.status != 'onLunch'" (click)="openModal('commute')" color="warning">
              Commute
            </ion-button>
            <ion-button *ngIf="userData.status != 'onLunch'" color="success" (click)="openModal('lunch')">
              Start lunch
            </ion-button>
            <ion-button *ngIf="userData.status == 'onLunch'" color="success" (click)="openModal('commute')">
              Finish lunch
            </ion-button>
            <ion-button color="danger">
              End shift
            </ion-button>
          </ion-buttons>
        </div>

      </ion-col>
    </ion-row>
  </ion-card>
</div>

<!--  -->

<div *ngIf="userData.status == 'outOfShift'">
  <ion-card class="m-0 shift-card off-shift">
    <ion-row class="card-status">
      <ion-col size="2" class=" py-4 d-flex align-items-center justify-content-center hours-box">


        <div class="text-center hours-box-container d-flex justify-content-center align-items-center">
          <ion-icon name="bed"></ion-icon>
        </div>

      </ion-col>
      <ion-col class="status-info">
        <div>
          Estado actual
        </div>
        <div class="current-status">
          Fuera de turno
        </div>

        <div>
          <ion-buttons class="ion-justify-content-end buttons mt-auto">
            <ion-button color="primary" (click)="openModal('start')">
              Iniciar turno
            </ion-button>
          </ion-buttons>
        </div>

      </ion-col>
    </ion-row>
  </ion-card>

</div>
<!-- Start shift modal -->
<!-- <ion-modal trigger="open-start-shift">
  <ng-template>
    <app-start-shift-modal [modType]="modType" style="height: 90%;"></app-start-shift-modal>
  </ng-template>
</ion-modal> -->