<div>
  <ion-card class="m-0">
    <ion-row class="card-status">
      <ion-col size="2" [style.background-color]="true ? 'var(--ion-color-medium)' : 'blue'"
        class="py-5 d-flex align-items-center justify-content-center hours-box">
        <div class="text-center ">
          <div>
            08
          </div>
          <div>
            16
          </div>
          <div>
            HRS
          </div>
        </div>
      </ion-col>
      <ion-col class="status-info">
        <div>
          Estado actual
        </div>
        <div class="current-status">
          En turno
        </div>
        <div>
          hola
        </div>
        <div>
          <ion-buttons class="ion-justify-content-end buttons mt-auto">
            <ion-button color="medium">
              Iniciar break
            </ion-button>
            <ion-button color="primary">
              Iniciar turno
            </ion-button>
          </ion-buttons>
        </div>

      </ion-col>
    </ion-row>
  </ion-card>
</div>