<div *ngIf="userData.status == 'onShift' || userData.status == 'onLunch'">
  <!-- Edit button Absolute -->
  <div class="iconButtons">
    <ion-button (click)="editTimeSheetModal(userData.currentShift)" fill="clear" color="dark">
      <ion-icon slot="icon-only" name="eye"></ion-icon>
    </ion-button>
  </div>
  <!--  -->
  <ion-card class="m-0 shift-card" [ngClass]="userData.status=='onLunch' ? 'on-lunch': 'on-shift'">
    <ion-row class="card-status">
      <ion-col size="2" class=" py-0 px-0 d-flex align-items-center justify-content-center hours-box">
        <!-- <div class="header">
          Lunch Hrs.
        </div> -->
        <div class="text-center hours-box-container" *ngIf="elapsedTime != null">


          <div>
            Hrs
          </div>
          <div>
            <span>
              @if(elapsedTime.work.hours<10){0}{{elapsedTime.work.hours}} </span>
          </div>
          <div>
            @if(elapsedTime.work.minutes<10){0}{{elapsedTime.work.minutes}} </div>
              <div>
                Min
              </div>
          </div>

      </ion-col>

      <ion-col class="status-info">
        <div>
          
        </div>
        <div class="current-status">

          <ion-text *ngIf="userData.status=='onShift'" color="success">
            On Shift
          </ion-text>
          <ion-text *ngIf="userData.status=='onLunch'" color="warning">
            On Lunch
          </ion-text>
          <ion-text class="fromText">
            (From: {{userData.currentShift.blocks[userData.currentShift.blocks.length-1].startTime | date:"hh:mm a"}})
          </ion-text>
          <br>
          
          @if(userData.status=='onLunch'){
          <ion-text class="lunch-time">
            Elapsed: {{elapsedTime.lunch.hours}}:@if(elapsedTime.lunch.minutes<10){0}{{elapsedTime.lunch.minutes}} Hrs
              </ion-text>
              <br>
              }
              <br>
        </div>

        <div>
          <ion-buttons class="ion-justify-content-end buttons mt-auto">
            <ion-button *ngIf="userData.status != 'onLunch'" (click)="openModal('commute')" color="warning">
              Commute
            </ion-button>
            <ion-button *ngIf="userData.status != 'onLunch'" color="success" (click)="openModal('lunch')">
              Start lunch
            </ion-button>
            <ion-button size="samll" *ngIf="userData.status == 'onLunch'" color="primary"
              (click)="openModal('commute')">
              Finish lunch
            </ion-button>
            <ion-button *ngIf="userData.status !== 'onLunch'" color="danger" (click)="openEndingShiftModal()">
              End shift
            </ion-button>
          </ion-buttons>
        </div>

      </ion-col>
    </ion-row>
  </ion-card>
</div>

<!--  -->

<div *ngIf="userData.status == 'outOfShift'">
  <ion-card class="m-0 shift-card off-shift">
    <ion-row class="card-status">
      <ion-col size="2" class=" py-4 d-flex align-items-center justify-content-center hours-box">


        <div class="text-center hours-box-container d-flex justify-content-center align-items-center">
          <ion-icon name="bed"></ion-icon>
        </div>

      </ion-col>
      <ion-col class="status-info">
        <div>
          Current Status
        </div>
        <div class="current-status">
          @if(this.shiftTaken){
          Shift already taken
          } @else {
          Out of shift
          }
        </div>

        <div>
          <ion-buttons class="ion-justify-content-end buttons mt-auto">
            @if(this.shiftTaken){
            <ion-button color="primary" (click)="editTimeSheetModal(userData.currentPaycheck[userData.currentPaycheck.length-1])">
              Review shift
            </ion-button>
            } @else {
            <ion-button color="primary" (click)="openModal('start')">
              Start shift
            </ion-button>
            }

          </ion-buttons>
        </div>

      </ion-col>
    </ion-row>
  </ion-card>
</div>

